 @import url(https://fonts.google.com/share?selection.family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000);
 
 *{
    background-color: rgb(255, 255, 255);
    padding:0px;
    margin:0px   
}

#nav.container{
    background-color: black;
    padding-top: 15px;
    padding-left: 15px;
    width:289px;
    font-family: DM Sans
}
    #navElement{
        display flex:;
        flex-direction: column;
        padding-top: 15px;
        padding-left: 15px;
        width:200px;
}

    #navElement-flex{
        display flex;
        flex-direction: column;
        padding-top: 15px;
        padding-left: 15px;
        width:200px;

}
#mainpage{
    background-color: rgb(37, 32, 32);
    align-items: center;
    padding-top: 15px;
}

